:root {
  --mainbackground: #ecf9ff;
  --bodybackground: #525fe1;
  --anglebackground: #0d1282;
  --border-list: #d1d1d1;
}

body {
  background-color: var(--mainbackground);
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  margin: 50px 0;
  position: relative;
  padding: 5px;
}

nav,
.nav {
  width: 100%;
  margin: 0;
  padding: 0;
}

.nav-menu {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
  height: 30px;
  width: 100%;
  margin: 0;
  padding-left: 20px;
}

.nav-item {
  font-weight: bold;
  list-style-type: none;
}

.nav-item a {
  color: var(--bodybackground);
  font-size: bolder;
  text-decoration: none;
}

#nav-icon {
  padding-right: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.title {
  background-color: var(--bodybackground);
  border-radius: 5px;
  padding: 5px;
  width: 400px;
}

h1 {
  color: white;
  font-family: "Martel", serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

.items {
  border: 2px solid var(--border-list);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  width: 400px;
}

.item-list {
  margin: 0 20px;
}
.item-list ul {
  padding: 0;
}

.item-list li {
  list-style-type: none;
}

input[type="checkbox"]:checked + .item-element {
  text-decoration: line-through;
}

.item-element {
  display: inline;
  margin-left: 10px;
}

.item-entry {
  border-bottom: 2px solid var(--bodybackground);
  padding-bottom: 10px;
  margin: auto;
  margin-bottom: 20px;
}

.item-entry form {
  display: flex;
  justify-content: space-between;
  width: 350px;
}

.item-input {
  border-style: none;
  box-shadow: inset 0 0 2px var(--border-list, 0 0 2px var(--border-list));
  padding: 10px;
  width: 280px;
}

.item-input:focus{
  outline: none;
  border:1px solid var(--border-list);
  box-shadow: 0 0 10px #719ECE;
}

form button {
  background-color: var(--bodybackground);
  border-radius: 50%;
  border-style: none;
  color: white;
  font-size: 15px;
  padding: 0;
  width: 35px;
}

footer {
  background-color: var(--bodybackground);
  height: 300px;
  margin-top: 100px;
  clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
}

.copyright {
  position: relative;
}

.copyright p {
  color: white;
  position: absolute;
  top: 150px;
  left: 45%;
}
